<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/static/assets/fewo_suedplattensee.png" alt="" width="48">
            </a>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Balaton v0.1.0</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/properties">Anzeigen</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                    </li>
                </ul>
            </div>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Suche" aria-label="Suche">
                <button class="btn btn-outline-success" type="submit">Suche</button>
            </form>
        </div>
    </nav>
</header>