<form action="/auth" method="post" enctype="application/x-www-form-urlencoded">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">eMail-Adresse</label>
    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">z. B. daniel@hammeley.info</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Passwort</label>
    <input type="password" class="form-control" name="password" id="password">
  </div>
  <button type="submit" class="btn btn-primary">Anmelden</button>
</form>