<!doctype html>
<html lang="de">
    {{> partials/head }}  
    <body>
        <header>
            <nav class="navbar navbar-dark">
                <div class="container-fluid">
                    <a class="navbar-brand text-primary" href="#"><img src="/static/assets/fewo_suedplattensee.png" style="width: 3em"></a>
                </div>
            </nav>
        </header>
        <article>
            <aside class="row justify-content-center">
                <div class="col col-8">
                    {{> partials/login_form }}
                </div>
            </aside>
        </article>
        <footer></footer>
    </body>
</html>