<!doctype html>
<html lang="de">
    {{> partials/head }}  
    <body>
        {{> partials/header }}
        <article>
        
          <aside></aside>
          <div class="container-fluid">
            {{#each properties}}
            <div class="row justify-content-center mt-3">
                <div class="col-10">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                            <p class="card-text">{{address.street}}, {{address.postcode}}, {{address.city}}, {{address.state}}, {{address.country}}</p>
                            <a href="#" class="btn btn-primary">Bearbeiten</a>
                        </div>
                    </div>
                </div>
            </div>
           {{/each}}
        </article>
        <footer></footer>
    </body>
</html>